.crossword-container {
    text-align: center;
    min-width: 600px !important;
}
.crossword-center {
    margin: 0 auto;
}

.btn {
    margin: 8px 4px 0;
}
.btn {
    width: 172px;
    height: 28px;
}

.crossword-line {
    height: 2em;
}
.crossword-word, .crossword-clue {
    display: inline-block;
    height: 1.5em;
    padding: 0 5px;
}
.crossword-word {
    text-align: right;
    width: 100px;
}
.crossword-clue {
    width: 500px;
}


.crossword-crossword {
    display: block;
    background-color: rgb(32,32,32);
}

.crossword-square {
    margin: 0 1px 1px 0;
    display: inline-block;
    font: 24px Calibri;
    width: 1.25em;
    height: 1.25em;
    line-height: 1.25em;
    vertical-align: middle;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.crossword-letter {
    background-color: rgb(255,255,255);

    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.crossword-char:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(255,32,32,1);
    -moz-box-shadow: 0 0 0 2px rgba(255,32,32,1);
    box-shadow: inset 0 0 0 2px rgba(255,32,32,1);
}
.crossword-char {
    font-size:24px !important;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 0;
    margin: -1px 0 0 -1px;
    width: 1.35em;
    height: 1.35em;
    text-align: center;
    background: none;
    color: black;
}

.crossword-crossword input::placeholder {
    font-size: 16px;
    color: red;
}

.crossword-hide {
    visibility: hidden;
}

.crossword-clueReadOnly {
    border: 0 ;
    outline: 0;
    color:#303030 !important;
    background:none;
}

.crossword-correct {
  background-color: #b0d7b1;
}

.crossword-incorrect {
   background-color: #dca0a9;
}

#crossword-questions {
    width: fit-content;
    margin: auto;
}

#crossword-questions h4 {
    font-family: arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

#crossword-questions table {
    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: black;
    border-collapse: collapse;
    width: 100%;
    max-width: 600px !important;
}

#crossword-questions td, #crossword-questions th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#crossword-questions tr:nth-child(even) {
    background-color: #dddddd;
}


#crossword-questions .container {
    display: flex;
    flex-wrap: wrap;
}

#crossword-questions .column {
    flex: 50%; /* Alternatively flex: 1 0 50% for "flex-grow: 1, flex-shrink: 0, flex-basis: 50%" */
    padding: 10px;
    box-sizing: border-box;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 600px) {
    #crossword-questions .column {
        flex: 100%;
    }
}
